@font-face{
    font-family: Centurygothic;
    src: url(fonts/Centurygothic.ttf);
}

@font-face{
    font-family: Lemon;
    src: url(fonts/Lemon.ttf);
}


body, input, button{font-family: Centurygothic, sans-serif;}
h1{ color: #E85A4F; font-family: Lemon, sans-serif; font-size: 60pt;}
.h2 {width: 100%; height: 75px; background: #8d2681; text-align: center; font-size: 28pt; 
	padding-top: 25px; color: white;}
a {
    text-decoration: none !important;
}

.pic {display: block;
    margin-left: auto;
    margin-right: auto}

.info {width:15%; color: white; margin-top: 50px;margin-bottom: 30px;}

   #container {
    width: 100%;

   }

   #header {
    font-size: 18pt;

    background: purple; 
    color: #ffe;
   }
   
   #footer {
    background: #8fa09b; 
    color: #fff;
    padding: 5px; 
    clear: left; 
   }
.box{white-space:nowrap;font-size: 18pt; 
    background: #D8C3A5; 
    color: #ffe; }
  

    .navtxtmain {
   font-weight: bold;
    transition: all 0.3s;

}

    .navtxtmain:hover {
        color: #D4AF37;
    }



.navtxtmain {
    position: relative;
}

    .navtxtmain:after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 5px;
        background-color: #D4AF37;
        content: "";
        transition: width 0.3s ease-out;
    }

    .navtxtmain:hover:after,
    .navtxtmain:focus:after {
        width: 100%;
    }


.preanim:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.box div{width:24%; text-align: center;  display:inline-block;}
.box1 div{text-align: center; display:inline-block; margin-left: 5%;}

.box2{white-space:nowrap; padding-bottom: 30px; padding-top: 70px;}
.box2 div{width:33%; text-align: center;  display:inline-block;}

.name {width:50%;}

.tex { font-size: 20pt; padding-left: 20px; padding-right: 20px; padding-top: 50px; padding-bottom: 50px; }
.premium{margin-top: 50px; margin-bottom: 30px;}

.topbtn {width:80px;
border:2px solid #ccc;
background:#f7f7f7;
text-align:center;
padding:7px;
position:fixed;
bottom:5px;
right:5px;
color:#333;
font-size:12pt; font-weight: bold;
border-radius: 5px;}



.box4{white-space:nowrap;margin-bottom: 30px;}
.box4 div{width:50%; text-align: center;  display:inline-block; font-size: 22pt;font-weight: bold;}


.box3{white-space:nowrap;padding-bottom: 30px;}
.box3 div{width:25%; text-align: center;  display:inline-block; font-size: 12pt;font-weight: bold; }


.mrg {padding-bottom: 100px; padding-top: 75px;}

.marg {margin-top: 70px;}

.tdd{ color: purple; }


 .shrift{color: purple; font-size: 30pt; }







.w300px{width: 300px;margin-top: 30px; margin-bottom: 30px;}
.h75px{height: 75px;}
.h150px{height: 150px;}
.h350px{height: 350px;}
.h250px{height: 250px;}
.h600px{height: 600px; margin-top: 50px; margin-bottom: 100px;}



input{width: 400px; height: 30px; border-radius: 10px; background: #f585a3; font-weight: bold; font-size: 16pt;}
button{background: #8d2681; color: white; border-radius: 5px; font-size: 16pt; font-weight: bold;}

.lab{margin-bottom: 10px;}

.block7{white-space:nowrap;}
.block7 div{display:inline-block; font-size: 18pt; color: white;}
.kok{padding-top: 50px; padding-bottom: 50px;}
.center{text-align: center;}



.field1{
    width: 100%;
    height: 800px;
    background: #ccc;
}


.box99{white-space:nowrap; margin-top: 50px;}
.box99 div{width:50%; display:inline-block; text-align: center; }


.textcatalog{font-size: 28pt; color: #8d2681;}


.headitem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 1 1 30%;
  max-width: 300px;
  min-width: 100px;
  border: 5px solid #dc96ff;
  border-radius: 10px;
  height: 340px;
  margin: 20px;
}

.asd {width: 300px;
height: 280px;}

.qwe{height: 55px; text-align: center; font-size: 24pt;background: #FFFDD0;}

.floatr{float: right;}

.hw{width: 400px; height: 300px;}


.ppp {margin-left: 5%;}